.searchResult {
  display: grid;
  align-content: space-around;
  background-color: #e1e4e8;
}

.container {
  display: grid;
  align-content: center;
  grid-template-columns: 3fr 1fr;
  background-color: white;
  padding: 2em;
  border-color: rgb(237, 237, 237);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 1em;
  margin-left: 10em;
  margin-right: 10em;
  /* box-shadow: 0em 0.1em 1em rgb(225, 225, 225); */
}

.container:hover {
  box-shadow: 0em 0.1em 1em rgb(141, 141, 141);
}

.flightdetails {
  display: grid;
  align-content: space-around;
  grid-template-rows: 1fr 1fr;
}

.flight {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.pricedetails {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-left: solid;
  border-width: 0.1em;
  border-color: #b8babd;
}

.buttonSave {
  border-radius: 2em;
  background-color: #2960db;
  color: white;
  border: none;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

.buttonSaved {
  border-radius: 2em;
  background-color: #0c1f3a;
  color: white;
  border: none;
  padding: 0.5em 1em 0.5em 1em;
}
