.searchResult {
  /* border: solid; */
  /* padding: 2em; */
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 1em;
  /* border-color: rgb(237, 237, 237);
  box-shadow: 0em 0.1em 1em rgb(225, 225, 225); */
  display: grid;
  align-content: space-around;
  border-radius: 1em;
}

.container {
  display: grid;
  align-content: center;
  grid-template-columns: 3fr 1fr;
  border: solid;
  padding: 2em;
  border-color: rgb(237, 237, 237);
  margin-bottom: 1em;
  /* box-shadow: 0em 0.1em 1em rgb(225, 225, 225); */
  border-radius: 1em;
}

.container:hover {
  box-shadow: 0em 0.1em 1em rgb(225, 225, 225);
}

.flightdetails {
  display: grid;
  align-content: space-around;
  grid-template-rows: 1fr 1fr;
}

.flight {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.pricedetails {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.buttonSave {
  border-radius: 2em;
  background-color: #4285f4;
  color: white;
  border: none;
  margin-top: 1em;
}

.buttonSaved {
  border-radius: 2em;
  background-color: #00122f;
  color: white;
  border: none;
  margin-top: 1em;
}
