.banner {
  background-image: url("../assets/flight-banner.jpg");
  height: 40em;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.tagline {
  font-weight: 600;
  color: #0c1f3a;
  font-size: 2.4em;
}

.searchcontainer {
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-color: #0c1f3a;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 1em;
  height: 5em;
  padding: 2em;
}

input {
  border-radius: 0.2em;
  padding: 0.5em;
  border: none;
}

button {
  border-radius: 2em;
  padding: 0.6em;
  background-color: #2960db;
  color: white;
  border: none;
}

label {
  font-weight: 500;
}

.dropdown {
  box-shadow: 0em 0.1em 1em rgb(225, 225, 225);
  border-radius: 0.2em;
  border: solid;
  border-color: rgb(211, 211, 211);
  padding: 0.5em;
}

.footer {
  background-color: #0c1f3a;
  height: 5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer p {
  font-size: 0.6em;
  margin: 0;
}
