.navbar {
  height: 3rem;
  background-color: rgb(255, 255, 255);
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 1em;
  align-items: center;
  justify-content: flex-start;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 4rem;
  border-radius: 2em;
  border: solid;
  border-width: 0.2em;
  border-color: rgb(205, 205, 205);
  padding: 0.2em 2em 0.2em 2em;
}

.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar li:hover,
.navbar li:active {
  background-color: #4285f4;
  border-color: #4285f4;
}

/* .navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: white;
  padding-bottom: 0.25rem;
} */
