.bg {
  background-color: #0c1f3a;
}

.navbar {
  height: 10rem;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 10em;
  margin-right: 10em;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.4em;
  border-radius: 2em;
  border: solid;
  border-width: 0.1em;
  border-color: rgb(205, 205, 205);
  padding: 0.4em 2em 0.4em 2em;
  background-color: #0c1f3a;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #25364e;
  border-color: #2c405b;
}

.navbar a:active,
.navbar a.active {
  border-color: #2960db;
  background-color: #2960db;
}
